* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

#main {
    position: relative;
    overflow: hidden;
    width: 100svw;
    min-height: 100svh;
    background-image: radial-gradient(#c3cac7 2%, #52aa8d, #59bf9d);
}

#nav {
    position: relative;
    width: 100%;
    height: 10svh;
    display: flex;
    align-items: center;
    padding: 0 3vw;
    justify-content: space-between;
    color: #fff;
}

#center {
    position: absolute;
    display: flex;
    align-items: center;
    gap: 3vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#center .line {
    width: 10vw;
    height: 2px;
    background-color: #2c8d6e;
}

#center > h3 {
    font-family: "DELIRIUM NCV", sans-serif;
    font-size: 2vw;
    font-weight: 100;
    color: #fff;
}

#maintext {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#maintext .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#maintext .row h4 {
    font-family: "DELIRIUM NCV", sans-serif;
    color: #fff;
    font-weight: 100;
    line-height: 5vw;
    font-size: 2vw;
}

#maintext > h1 {
    color: #fff;
    font-family: "DELIRIUM NCV", sans-serif;
    font-weight: 100;
    font-size: 10vw;
    line-height: 5vw;
}

#main #one {
    width: 35vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#main #two {
    width: 35vw;
    position: absolute;
    top: 50%;
    left: -15%;
    transform: translate(0%, -50%);
}

#main #three {
    position: absolute;
    width: 30vw;
    top: 50%;
    right: -12%;
    transform: translate(0%, -50%);
}

#bottom img {
    width: 60%;
}

#main #bottom {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    width: 50%;
    height: 150px;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, 0);
}

#bottom p {
    text-align: center;
    color: #fff;
    padding: 0 3vw;
    font-weight: 300;
    font-size: 1vw;
}

#bottom button {
    color: #fff;
    padding: 0.7vw 0.2vw;
    letter-spacing: 0.5vw;
    background-color: #349f7b;
    border-radius: 1.4vw;
    border: none;
}

@media (max-width: 600px) {
    #main{
        width: 100svw;
        height: 100svh;
        background-color: red;
    }
    #nav {
        width: 100svw;
        height: 11svh;
    }

    #center .line {
        width: 2rem;
    }

    #nav > i {
        font-size: 2rem;
    }

    #center > h3 {
        font-size: 2.2rem;
        white-space: nowrap;
        font-weight: 100;
    }

    #maintext .row h4 {
        margin-left: 1rem;
        white-space: nowrap;
        font-size: 2rem;
    }
    #maintext > h1 {
        white-space: nowrap;
        font-size: 8rem;
        line-height: 27vw;
        margin-left: .9rem;
    }
    #main #one{
        width: 96vw;
        top: 50%;        
    }

    #main #screen {
        margin-top: -4rem;
    }

    #bottom p {
        font-size: 1.2rem;
        padding: 15px 1rem;
    }

    #bottom button {
        margin-top: .7rem;
        padding: .7rem .9rem;
        font-size: 1.4rem;
        border-radius: 10px;
    }

        #bottom img {
            margin-top: -15rem;
            width: 85%;
        }

        #main #bottom {
            width: 100%;
        }
} 
