*{
     margin: 0%;
     padding: 0%;
     box-sizing: border-box;
 }
 html,body{
     width: 100%;
     height: 100%;
 }
 #main{
     position: relative;
     overflow: hidden;
     width: 100%;
     min-height: 100vh;
    background-image: radial-gradient(#c3cac7 2%,#52aa8d,#59bf9d);
 }
 #nav{
     position: relative;
     width: 100%;
     height: 10vh;
     display: flex;
     align-items: center;
     padding: 0 3vw;
     justify-content: space-between;
     color: #fff;
 }
 #center{
     position: absolute;
     display: flex;
     align-items: center;
     gap: 3vw;
     top: 50%;
     left: 50%;
     transform: translate(-50%,-50%);
 }
 #center .line{
     width: 10vw;
     height: 2px;
    background-color: #2c8d6e;
 }
 #center>h3{
     font-family: "DELIRIUM NCV";
     font-size: 2vw;
     font-weight: 100;
     color: #fff;
 }
 #maintext{
     position: absolute;
     top: 30%;
     left: 50%;
     transform: translate(-50%,-50%);
 }
 #maintext .row{
     display: flex;
     align-items: center;
     justify-content: space-between;
 }
 #maintext .row h4{
     font-family: "DELIRIUM NCV";
     color: #fff;
     font-weight: 100;
     line-height: 5vw;
     font-size: 2vw;
 }
 #maintext  .row h4 :nth-child(2) {
     color:rgb(11, 5, 5);
     
 }
 #maintext>h1{
     color: #fff;
     font-family: "DELIRIUM NCV";
     font-weight: 100;
     font-size: 10vw;
     line-height: 5vw;
 }
 #main #one{
     width: 35vw;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%,-50%);
 }
 #main #two{
     width: 35vw;
     position: absolute;
     top: 50%;
     left: -15%;
     transform: translate(0%,-50%);
 }
 #main #three{
     position: absolute;
     width: 30vw;
     top: 50%;
     right: -12%;
     transform: translate(0%,-50%);
 }
 #bottom img{
     width: 60%;
 }
  #main #bottom{
     display: flex;
     align-items: center;
     flex-direction: column;
     justify-content: center;
     position: absolute;
     width: 50%;
     height: 150px;
     bottom: 5%;
     left: 50%;
     transform: translate(-50%,-0%);
 }
 #bottom p{
     text-align: center;
     color: #fff;
     padding: 0 3vw;
     font-weight: 300;
     font-size: 1vw;
 }
 #bottom button{
     color: #fff;
     padding: .7vw .2vw;
     letter-spacing: .5vw;
     background-color: #349f7b;
     border-radius: 1.4vw;
 }
 @media (max-width:500px) {
     #nav{
         height: 10vh;
     }
     #center>h3{
         font-size: 10vw;
         white-space: nowrap;
         font-weight: 100;
     }
     #maintext>h1 {
         color: #fff;
         font-family: "DELIRIUM NCV";
         font-weight: 100;
         font-size: 28vw;
         line-height: 30vw;
     }
     h1 {
         white-space: nowrap;
     }
     #maintext .row h4{
       font-size: 7vw;
     }
    #main #one{
     width: 100%;
    }
    #main #screen{
     width: 80%;
    }
    #bottom p {
     text-align: center;
     color: #fff;
     padding: 0vw 15vw;
     font-weight: 300;
     font-size: 3vw;
 }
    #main button{
     padding: 2..5vw 3vw;  
    }
    #bottom #img{
     margin-top: 30%;
    }
    #main #bottom{
     width: 100%;
    }
 }